body {
    padding-top: 125px;
}
.header {
    position: fixed;
    top: 0; 

    width: 100%;
    background-color: #FFF;
    padding: 20px 40px;
    border-bottom: 1px solid #222f3e;
    margin-bottom: 30px;
}
.header-logo {
    height: 50px;
}
.banner {
    position: fixed;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);

    background-color: #5f27cd;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    height: 200px;
    line-height: 200px;
}
.button {
    position: fixed;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 40px;
    opacity: 0.95;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #1dd1a1;
}
p {
    margin-bottom: 20px;
}